@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@font-face {
    font-family: 'Inria Serif';
    src: url('/assets/fonts/InriaSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}